.App{
    text-align: center;
    padding-top: 40px;
    color: rgb(0, 54, 53);
    width: 100%;
    height: 100%;
    background-color: rgba(204, 226, 224, 0.723);;
    position: fixed;
    top: 0;
    left: 0;
}
h1{
    font-weight:900;
}
.container{
    width: 50%;
    margin: 50px auto;
    background-color: rgba(26, 119, 108, 0.723);
    color: #fff;
}
.txt-analysis{
    margin-left: 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
h2 {
    margin-bottom: 0;
    margin-right: 200px;
}
.input{
    width: 95%;
    margin: 20px;
}